@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: #5957EB;
}

ul {
  align-items: center;
}

@keyframes invisibleToVisible{
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

h1 {
  text-align: center;
  animation: invisibleToVisible 1;
}

a {
  text-decoration: none;
  color: darkblue;
}

li {
  list-style: none;
}