@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

ul {
  align-items: center;
}



html {
  background-color: #2c2f33;
}

p {
  color: #f2f2f2;
}

@keyframes enlarge {
  from {
    transform: scale(0.01);
  }

  to {
    transform: scale(1);
  }
}

h1 {
  text-align: center;
  color: #f2f2f2;
  animation: enlarge .5s;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

li {
  list-style: none;
}