@keyframes invisibleToVisible{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.subheadding {
    text-align: center;
    animation: invisibleToVisible 1.5s
}

.text {
    padding-left: 10%;
    animation: invisibleToVisible 2.25s;
}