@keyframes invisbleToVisible {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.Navbar {
    animation: invisbleToVisible .75s;
    overflow: hidden;
    align-items: center;
    width: 100%;
}

.Navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-right: 7.5%;
    padding-bottom: 1em;
    text-decoration: none;
}
.Navbar ul li {
    display: inline;
}